<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CefSharp.Common" version="140.1.140" targetFramework="net48" />
  <package id="CefSharp.WinForms" version="140.1.140" targetFramework="net48" />
  <package id="chromiumembeddedframework.runtime.win-x64" version="140.1.14" targetFramework="net48" />
  <package id="chromiumembeddedframework.runtime.win-x86" version="140.1.14" targetFramework="net48" />
  <package id="EasyTabs" version="2.0.0" targetFramework="net48" />
  <package id="ExCSS" version="4.3.1" targetFramework="net48" />
  <package id="Svg" version="3.4.7" targetFramework="net48" />
  <package id="System.Buffers" version="4.6.1" targetFramework="net48" />
  <package id="System.Memory" version="4.6.3" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.6.1" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.2" targetFramework="net48" />
  <package id="Win32Interop.Dwmapi" version="1.0.1" targetFramework="net452" />
  <package id="Win32Interop.Gdi32" version="1.0.1" targetFramework="net452" />
  <package id="Win32Interop.Kernel32" version="1.0.1" targetFramework="net452" />
  <package id="Win32Interop.User32" version="1.0.1" targetFramework="net452" />
  <package id="Win32Interop.Uxtheme" version="1.0.1" targetFramework="net452" />
</packages>